.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    height: 47px;
    padding: 15px 29px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #eceff1;
}

.chat-info {
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
}